#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ffffff none repeat scroll 0% 0%;
}

.socket {
    position: relative;
    top: 40%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}

.socket img {
    display: block;
    margin: auto;
}